[submodule "DXBuildGenerator"]
	path = DXBuildGenerator
url=https://github.com/mbogbp/DXBuildGenerator.git
	branch = master
[submodule "Nuspec/DX-Nuspec"]
	path = Nuspec/DX-Nuspec
	url = https://github.com/derjabkin/DX-Nuspec.git
	branch = master
[submodule "Report designer script editor"]
	path = Report designer script editor
	url = https://github.com/KrzysztofKielce/xaf-report-designer-script-editor